.page-header {
  background-color: transparent;

  &__inner {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    padding: 10px 20px;
    max-width: $max-width;
    box-sizing: border-box;
  }

  @media ($tablet-width) {
    background-color: $color-two;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.95;

    &__inner {
      padding: 0 40px;
    }
  }

  @media ($desktop-width) {
    &__inner {
      padding: 0 60px;
    }
  }
}
