.title {
  background-color: transparent;
  padding: 45px 20px;
  display: flex;
  flex-grow: 1;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px 20px;
    max-width: 768px;
    box-sizing: border-box;
  }

  &__avatar {
    font-size: 0;

    & img {
      min-height: 100px;
      width: 100px;
      border-radius: 100%;
    }
  }

  &__hello {
    font-size: 30px;
    font-weight: 700;
    max-width: 100%;
    margin: 10px 0;
  }

  &__desc {
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    text-align: justify;
  }

  &__btn {
    display: inline-block;
    height: 48px;
    border-radius: 6px;
    min-width: 160px;
    text-align: center;
    line-height: 48px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 20px;
    color: $font-color;
    border: 1px solid white;
    font-weight: 700;
  }

  &__btn:hover {
    background-color: $font-color;
    color: $bg-color;
  }

  @media ($tablet-width) {
    &__inner {
      padding: 30px 40px;
    }

    &__hello {
      font-size: 56px;
    }

    &__desc {
      font-size: 26px;
    }

    &__btn {
      height: 64px;
      min-width: 200px;
      font-size: 24px;
      line-height: 64px;
    }
  }

  @media ($desktop-width) {
    &__inner {
      padding: 50px 60px;
    }
  }
}
