html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: $min-width;
  min-height: 100vh;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $font-color;
  background-color: $color-one;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
