//colors
$bgcolor: rgba(242, 242, 242, 1);
$bg-header: rgba(0, 51, 51, 1);
$bg-footer: rgba(0, 31, 31, 1);
$font-white: rgba(255, 255, 255, 1);
$font-black: rgba(0, 0, 0, 1);

$max-width: 1024px;

//breakpoints
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1024px";
